Makefile
build/
**/__pycache__
aclocal.m4
autom4te.cache/
config.log
config.status
.DS_Store
*~
boringssl-*
brotli-*
c-ares-*
curl-*
nghttp2-*
nghttp3-*
ngtcp2-*
libidn2-*
libunistring-*
zlib-*
zstd-*
